.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
/build/
*.user
_ReSharper.*/
*.sdf
*.dll
*.msi
*.
bin/
obj/
Debug/
Release/
packages/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
packages/
*.vs/
